.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  max-width: 360px; /* 3 карточки по 120 */
  margin: auto;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.card {
  width: 120px;
  height: 100px;
  flex-shrink: 0;
  background: lightblue;
  margin: 0 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
