:root {
  --main-color: #141024;
  --accent-color: #d52027;
  --light-color: #fff;
}
/* #region base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
.noscroll {
  overflow: hidden;
}
main {
  flex-grow: 1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.container2 {
  max-width: 1700px;
  margin: 0 auto;
}
button {
  background: none;
  border: none;
}

/* #endregion base */

/* #region main */
.accent {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 3rem 5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.h100 {
  height: 100%;
}
.base_title {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7rem;
}

/* #endregion main */

/* #region header */
header {
  background-color: var(--main-color);
}
.logo {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 700;
}
.header__menu {
  font-size: 2rem;
  color: var(--light-color);
}
.tel {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 600;
}
.mobile {
  display: none;
}

/* #endregion header */

/* #region hero */
.hero {
  background-color: var(--main-color);
  height: 94vh;
}
.hero__left {
  color: var(--light-color);
}
h1 {
  font-size: 7rem;
  font-weight: 600;
}
.hero__left {
  flex: 1;
}
.hero__right {
  position: relative;
  flex: 1;
}
.hero__right img {
  object-fit: contain;
  height: 85%;
  position: relative;
  z-index: 1;
}
.border {
  border: 9rem solid var(--light-color);
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-40%);
}
/* #endregion hero */

/* #region about */
.about__desc {
  font-size: 3rem;
}
.about__desc span {
  font-weight: 600;
}
.about__item span {
  color: var(--accent-color);
  font-size: 7rem;
  font-weight: 600;
}
/* #endregion about */

/* #region cards */

.card {
  border: 1px solid rgb(20 16 36 / 35%);
  border-radius: 15px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.card h3 {
  font-size: 3rem;
  font-weight: 600;
}
.card p {
  text-align: center;
}
.price {
  font-size: 5rem;
  font-weight: 600;
}
.card .accent {
  width: 100%;
}
.card:hover {
  background-color: black;
  color: white;
  transform: scale(1.07);
  transition: all 0.3s;
}
/* #endregion cards */
.info::before {
  content: ""; /* Обязательно */
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/back.png"); /* путь к файлу */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  background-position: 3px 4px;
}

/* .section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #0077cc;
  margin-top: 8px;
} */

/* #region forClass */
.hover_move {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 30rem;
}

.hover_move:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background-color: green;
  left: 0;
}
.hover_move:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background-color: green;
  left: -102%;
}
.hover_move:hover:after {
  transition: all 1s;
  left: 100%;
}
.hover_move:hover:before {
  transition: all 1s;
  transition-delay: 0.5s;
  left: 0;
}

.hover_dublemove {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.hover_dublemove::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  left: -100%;
  top: 0;
  transition: all 0.5s;
}
.hover_dublemove:hover::after {
  left: 0;
  transition: all 0.5s;
}
.hover_dublemove::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  right: -100%;
  bottom: 0;
  transition: all 0.5s;
}
.hover_dublemove:hover::before {
  right: 0;
  transition: all 0.5s;
}

/* #endregion  */

/* #region popup */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  position: relative;
  width: 94rem;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 26px;
  background-color: transparent;
  color: #141024b2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  font-size: 1.4rem;
}
.modal__left {
  flex: 1;
}
.modal__right {
  flex: 3;
}
.social_btns img {
  width: 3rem;
  height: 3rem;
}
.modal__left img {
  width: 16rem;
  height: 22rem;
  object-fit: cover;
  border-radius: 2rem;
}
.modal__tabs {
  border-bottom: 1px solid #1410241c;
  padding-bottom: 2rem;
  gap: 13rem;
}
.tab {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.tab.active {
  color: var(--accent-color);
}
.tab:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}
.modal__bottom-content {
  padding: 2rem 0;
}
.modal__bottom-content {
  height: 35rem;
  overflow-y: auto;
}

/* #endregion popup */
/* #region coaches */

/* #endregion coaches */
/* #region slider */

/* #endregion slider */

/* #region media */

/* #endregion media */
/* Стиль полосы прокрутки */
::-webkit-scrollbar {
  width: 8px; /* вертикальная полоса */
  height: 8px; /* горизонтальная полоса */
}

/* Фон трека */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Сам "ползунок" */
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
/* #region coachers */
.coaches .container {
  position: relative;
  overflow: hidden;
}
.coache__img {
  display: block;
  height: 50rem;
  width: 36rem;
  object-fit: cover;
  border-radius: 2rem;
}
.coache__link {
  color: var(--accent-color);
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  background: none;
  border: none;
  cursor: pointer;
}
.coache__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  left: -100%;
  transition: all 0.5s;
  top: 0;
}
.coache__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  right: -100%;
  transition: all 0.5s;
  bottom: 0;
}
.coache__link:hover::after {
  left: 0;
  transition: all 0.5s;
}
.coache__link:hover::before {
  right: 0;
  transition: all 0.5s;
}

#prevBtn,
#nextBtn {
  position: absolute;
  bottom: 20px;
  transform: translateY(50%);
  cursor: pointer;
  transition: all 0.3s;
}
#prevBtn:hover,
#nextBtn:hover {
  transform: translateY(50%) scale(1.08);
  transition: all 0.3s;
}
.coaches #prevBtn {
  right: 4rem;
}
.coaches #nextBtn {
  right: 0;
}
.progress-bar {
  position: absolute;
  bottom: 0;
  width: 36rem;
  height: 6px;
  background-color: rgb(20 16 36 / 10%);
  /* background-color: var(--main-color); */
  /* opacity: 10%; */
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
/* #endregion coaches */

/* #region photo-gal */
.photo__item {
  height: 250px;
  width: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.photo__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo__item .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.6s;
}
.photo__item:hover .overlay {
  bottom: 0;
  transition: all 0.6s;
}

/* #endregion photo-gal */

/* #region faq */
.faq__wrap {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.faq__question {
  padding: 1rem 2rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}
.faq__answer {
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq__item.active .faq__answer {
  max-height: 200px;
  transition: all 0.3s ease;
}
.faq__item.active .faq__question {
  background-color: var(--accent-color);
  color: var(--light-color);
}
/* #endregion faq */

/* #region contact */
.contact {
  background-color: var(--accent-color);
  padding: 9rem 0;
  background-image: url(../img/bg_contact.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
.contact__text {
  flex: 1;
  color: var(--light-color);
  padding: 0 7rem;
}
.contact__text h3 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.contact__text p {
  font-size: 2rem;
}
.contact__form {
  flex: 1;
}
input {
  padding: 2rem;
  border: none;
  border-radius: 5px;
}
input::placeholder {
  color: #282944b2;
}
/* input:focus {
  border: 3px solid green;
  outline: none;
} */
.contact__form button {
  cursor: pointer;
  background-color: var(--main-color);
  padding: 2rem;
  color: var(--light-color);
  font-size: 1.8rem;
  transition: box-shadow 0.3s;
}
.contact__form button:hover {
  box-shadow: -1px 0px 8px 1px #4b4a4a;
  transition: box-shadow 0.3s;
}

#tel {
  display: block;
  background-image: url(../img/telephone.png);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 38px;
}

.custom-select {
  padding: 20px;
  font-size: 1.4rem;
  border: none;
  border-radius: 4px;

  color: #333;
  appearance: none; /* убирает дефолтную стрелку (в Chrome) */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  padding-right: 35px; /* место для стрелки */
}
fieldset input {
  margin-right: 5px;
}
.form_result {
  height: 4rem;
}
/* #endregion contact */
footer {
  background-color: var(--main-color);
  padding: 4rem 0;
}
.footer__left p {
  font-size: 1.6rem;
  color: var(--light-color);
  opacity: 70%;
}

/* #region media */
@media (max-width: 1760px) {
  .container2 {
    max-width: 90vw;
  }
}
@media (max-width: 1343px) {
  h1 {
    font-size: 6rem;
  }
  .container {
    width: 90vw;
  }
}
@media (max-width: 1080px) {
  .mobile {
    display: flex;
    gap: 2rem;
  }
  .header__wrap nav,
  .mobile__btn .close_btn,
  .header__wrap .tel {
    display: none;
  }
  .header__wrap.open .phone_btn,
  .header__wrap.open .burger_btn {
    display: none;
  }
  .header__wrap.open .mobile__btn .close_btn {
    display: block;
    width: 5rem;
    border: 1px solid #a69b9b;
    padding: 10px;
    border-radius: 9px;
    z-index: 111111111111;
    position: relative;
    margin-top: 3rem;
  }

  .header__wrap.open nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 11111;
  }

  .header__wrap.open .header__menu {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__wrap.open .header__menu li {
    font-size: 3rem;
    font-weight: 600;
  }
  .hero__wrap {
    flex-direction: column;
    overflow: hidden;
  }
  .hero__left {
    margin-top: 6rem;
    height: 30%;
    align-items: center;
    text-align: center;
  }
  .hero__right {
    height: 70%;
  }
  .hero__right img {
    height: 95%;
  }
  .hero__right .border {
    border: 7rem solid var(--light-color);
    width: 45%;
  }
  .about__wrap {
    flex-wrap: wrap;
  }
  .about__item {
    flex: 1 1 calc(50% - 40px);
    text-align: center;
  }
  .base_title {
    text-align: center;
    display: block;
  }
  .card {
    height: 43rem;
  }
  .card:hover {
    background-color: transparent;
    color: var(--main-color);
    transform: none;
  }
  .price {
    font-size: 3.5rem;
  }
  .card h3 {
    font-size: 2rem;
  }
  .about__desc {
    width: 100%;
  }
}
@media (max-width: 978px) {
  .modal-content {
    width: 72rem;
  }
}
@media (max-width: 932px) {
  .contact__wrap {
    flex-direction: column;
  }
  .contact__text {
    margin-bottom: 5rem;
  }
  .contact__text-wrap {
    width: 100%;
    text-align: center;
  }
  .coache__img {
    height: 40rem;
  }
  .cards__wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
  }
  .card {
    width: 100%;
  }
  .hero__wrap {
    position: relative;
  }
  .hero__left .accent {
    position: absolute;
    bottom: 6rem;
    z-index: 1111;
    width: 100%;
    font-size: 1.6rem;
  }
  .hero__right {
    margin-bottom: 6rem;
  }
  .photo-gal__wrap {
    flex-wrap: wrap;
  }
  .photo__item {
    width: calc(50% - 20px);
    height: 300px;
  }
}
@media (max-width: 800px) {
  .hero__right .border {
    width: 70%;
  }
}
@media (max-width: 732px) {
  .modal-content {
    width: 95%;
  }
  .modal__tabs {
    display: none;
  }
  .tab_mobile {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  .tab_mobile .tab {
    position: relative;
    color: white;
  }
  .tab_mobile .tab::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/Arrow\ -\ Down\ 2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
  }
  .about__item {
    flex: 1 1 100%;
  }
  .tabs_mobile {
    position: relative;
  }
  .tab__dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #d0caca;
    gap: 2rem;
    padding: 2rem;
  }
  .tab__dropdown.hidden {
    display: none;
  }
  .tab__option {
    font-size: 1.7rem;
  }
}
@media (max-width: 636px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
    padding-bottom: 5rem;
  }
  .footer__left p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
  }
}
@media (max-width: 524px) {
  .base_title {
    font-size: 3rem;
  }
  h1 {
    font-size: 3rem;
  }
  .hero {
    height: 70vh;
  }
  .hero__left {
    height: 40%;
  }
  .hero__right {
    height: 60%;
  }
  .hero__right .border {
    border: 4rem solid var(--light-color);
    top: 46%;
    width: 59%;
  }
  .photo__item {
    width: 100%;
    height: 400px;
  }
}

/* #endregion media */

/* .tabs_mobile_custom {
  position: relative;
  width: 100%;
}

.tab-trigger {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.tab-dropdown {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
}

.tab-dropdown.hidden {
  display: none;
}

.tab-option {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: white;
  border: none;
}

.tab-option:hover {
  background: #f9f9f9;
} */

/* mobile tabs*/
