:root {
  --main-color: #141024;
  --accent-color: #d52027;
  --light-color: #fff;
}
/* #region base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.container2 {
  max-width: 1700px;
  margin: 0 auto;
}

/* #endregion base */

/* #region main */
.accent {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 3rem 5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.h100 {
  height: 100%;
}
/* #endregion main */

/* #region header */
header {
  background-color: var(--main-color);
}
.logo {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 700;
}
.header__menu {
  font-size: 2rem;
  color: var(--light-color);
}
.tel {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 600;
}

/* #endregion header */

/* #region hero */
.hero {
  background-color: var(--main-color);
  height: 94vh;
}
.hero__left {
  color: var(--light-color);
}
h1 {
  font-size: 7rem;
  font-weight: 600;
}
.hero__left {
  flex: 1;
}
.hero__right {
  position: relative;
  flex: 1;
}
.hero__right img {
  object-fit: contain;
  height: 85%;
  position: relative;
  z-index: 1;
}
.border {
  border: 9rem solid var(--light-color);
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-40%);
}
/* #endregion hero */

/* #region about */
.about__desc {
  font-size: 3rem;
}
.about__desc span {
  font-weight: 600;
}
.about__item span {
  color: var(--accent-color);
  font-size: 7rem;
  font-weight: 600;
}
/* #endregion about */

/* #region cards */
.cards h2 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7rem;
}
.card {
  border: 1px solid rgb(20 16 36 / 35%);
  border-radius: 15px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.card h3 {
  font-size: 3rem;
  font-weight: 600;
}
.card p {
  text-align: center;
}
.price {
  font-size: 5rem;
  font-weight: 600;
}
.card .accent {
  width: 100%;
}
.card:hover {
  background-color: black;
  color: white;
  transform: scale(1.07);
  transition: all 0.3s;
}
/* #endregion cards */
.info::before {
  content: ""; /* Обязательно */
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/back.png"); /* путь к файлу */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  background-position: 3px 4px;
}

/* .section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #0077cc;
  margin-top: 8px;
} */

/* #region forClass */
.hover_move {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 30rem;
}

.hover_move:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background-color: green;
  left: 0;
}
.hover_move:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background-color: green;
  left: -102%;
}
.hover_move:hover:after {
  transition: all 1s;
  left: 100%;
}
.hover_move:hover:before {
  transition: all 1s;
  transition-delay: 0.5s;
  left: 0;
}

.hover_dublemove {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.hover_dublemove::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  left: -100%;
  top: 0;
  transition: all 0.5s;
}
.hover_dublemove:hover::after {
  left: 0;
  transition: all 0.5s;
}
.hover_dublemove::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  right: -100%;
  bottom: 0;
  transition: all 0.5s;
}
.hover_dublemove:hover::before {
  right: 0;
  transition: all 0.5s;
}

/* #endregion  */

/* #region popup */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  position: relative;
  width: 94rem;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 26px;
  background-color: transparent;
  color: #141024b2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  font-size: 1.4rem;
}
.modal__left {
  flex: 1;
}
.modal__right {
  flex: 3;
}
.social_btns img {
  width: 3rem;
  height: 3rem;
}
.modal__left img {
  width: 16rem;
  height: 22rem;
  object-fit: cover;
  border-radius: 2rem;
}
.modal__tabs {
  border-bottom: 1px solid #1410241c;
  padding-bottom: 2rem;
  gap: 13rem;
}
.tab {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.tab.active {
  color: var(--accent-color);
}
.tab:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}
.modal__bottom-content {
  padding: 2rem 0;
}
.modal__bottom-content {
  height: 35rem;
  overflow-y: auto;
}
/* #endregion popup */
/* #region coaches */

/* #endregion coaches */
/* #region slider */

/* #endregion slider */

/* #region media */

/* #endregion media */
/* Стиль полосы прокрутки */
::-webkit-scrollbar {
  width: 8px; /* вертикальная полоса */
  height: 8px; /* горизонтальная полоса */
}

/* Фон трека */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Сам "ползунок" */
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
